@nav-bar-color: #1E828C;
@app-text-color: #EEEEEE;

body {
}

.login-panel {
    text-align: right;
    .btn-primary {
        margin-bottom: 5px;
    }
    .panel-heading {
        text-align: left;
    }
    .alert {
        text-align: left;
    }
}

.spinner {
  background-image: url('../images/ajax-loader.gif');
  background-repeat: no-repeat;
  display: inline-block;
  height: 24px;
  width: 24px;
}

.nav-top-bar {
  padding: 5px;
  text-align: center;
  
  .nav-top-bar-menu {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-bottom: solid 1px @nav-bar-color
  }
  
  a {
  }
}

#index-page {
  width: 100%;

  .nav-top-bar-menu {
    text-align: left;
  }
  
  form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 45px;
    
    .btn {
      margin-right: 15px;
    }
  }
}

#results {
  margin: 50px;
  
  td {
    vertical-align: middle;
  }
  
  th {
    vertical-align: middle;
  }
  
  #actions {
    margin-top: 5px;
  }
}