@nav-bar-color: #1E828C;
@app-text-color: #EEEEEE;

body {
}

.login-panel {
    text-align: right;
    .btn-primary {
        margin-bottom: 5px;
    }
    .panel-heading {
        text-align: left;
    }
    .alert {
        text-align: left;
    }
}

.search-panel {
    .btn-primary {
        margin-bottom: 5px;
    }
}

.documents-list-panel {
    .row {
        padding: 10px;
    }
}
