@(title: String, hostName: String)
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("1.3.4-1/angular.min.js"))"></script>
    <script src="@routes.Assets.at("javascripts/controllers.js")"></script>
    <script src="@routes.Assets.at("javascripts/app.js")"></script>
    
	<script type="text/javascript">
		window.hostName = '@hostName';
	</script> 
</head>
<body ng-app="realtimeSearch">

    <div ng-controller="SearchCtrl">
        <div class="well" id="search">
            <form class="form-search" role="form" ng-submit="startSearching()">
                <input type="text" class="form-control" name="searchString" id="textField" ng-model="searchString" placeholder="Enter Lucene query string"/>
                <br />
                <input type="button" class="btn btn-primary btn-lg btn-block" id="search" value="Search" ng-click="startSearching()" />
            </form>
        </div>
        <div id="results">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Identifiant</th>
                        <th>Nom du fichier</th>
                        <th>Date d'indexation</th>
                        <th>Taille</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="searchResult in searchResults | limitTo:10">
                        <td>{{searchResult.id}}</td>
                        <td><a href="@hostName/file/download/by/id/{{searchResult.id}}">{{searchResult.fileName}}</a></td>
                        <td>{{searchResult.indexingDate | date:'medium'}}</td>
                        <td>{{searchResult.size}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>