@(title: String, hostName: String)

@scripts = {
	 <script src="@routes.Assets.at("javascripts/controllers.js")"></script>
}

@main(title, hostName, scripts) {
	<div data-ng-controller="SearchCtrl">
        <div class="well" id="search">
            <form class="form-search" role="form" data-ng-submit="startSearching()">
                <input type="text" class="form-control" name="searchString" id="textField" data-ng-model="searchString" placeholder="Enter Lucene query string"/>
                <br />
                <input type="button" class="btn btn-primary btn-lg btn-block" id="search" value="Search" data-ng-click="startSearching()" />
            </form>
        </div>
        <div id="results">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Identifiant</th>
                        <th>Nom du fichier</th>
                        <th>Date d'indexation</th>
                        <th>Taille</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="searchResult in searchResults | limitTo:10">
                        <td>{{searchResult.id}}</td>
                        <td><a href="@hostName/file/download/by/id/{{searchResult.id}}">{{searchResult.fileName}}</a></td>
                        <td>{{searchResult.indexingDate | date:'medium'}}</td>
                        <td>{{searchResult.size}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}