@(title: String, hostName: String)

@scripts = {
	 <script src="@routes.Assets.at("javascripts/indexController.js")"></script>
}

@main(title, hostName, scripts) {
	<div data-ng-controller="IndexController" id="index-page">
		<div class="nav-top-bar">
			<span>@title</span>
			<div class="nav-top-bar-menu">
				<a href="@hostName/logout">Déconnexion</a>
			</div>
		</div>
		
        <form role="form" data-ng-submit="startSearching()" novalidate>
            <input type="text" class="form-control" name="searchString" data-ng-model="searchString" placeholder="Chercher dans le moteur..."/>
            <br />
            <button type="submit" class="btn btn-primary">&#xAB; Va chercher &#xBB;</button>
            <div class="windows8" data-ng-show="loading">
                <div class="wBall" id="wBall_1"><div class="wInnerBall"></div></div>
                <div class="wBall" id="wBall_2"><div class="wInnerBall"></div></div>
                <div class="wBall" id="wBall_3"><div class="wInnerBall"></div></div>
                <div class="wBall" id="wBall_4"><div class="wInnerBall"></div></div>
                <div class="wBall" id="wBall_5"><div class="wInnerBall"></div></div>
            </div>
            <br /><br />
            <p data-ng-show="validationMessage" class="text-info">{{validationMessage}}</p>
        </form>
        
        
        <div id="results">
            <table class="table">
                <thead>
                    <tr>
                    	<th class="text-info">
                            <input data-ng-click="selectOrUnSelectAll()" data-ng-model="selectedAll" type="checkbox">
                        </th>
                        <th>Identifiant</th>
                        <th>Nom du fichier</th>
                        <th>Date d'indexation</th>
                        <th>Taille</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="searchResult in searchResults | limitTo:10">
                    	<td>
                    		<div class="checkbox"><input type="checkbox" data-ng-model="searchResult.selected"></div>
						</td>
						<td>{{searchResult.id}}</td>
                        <td><a href="@hostName/file/download/by/id/{{searchResult.id}}">{{searchResult.fileName}}</a></td>
                        <td>{{searchResult.indexingDate | date:'medium'}}</td>
                        <td>{{searchResult.size}}</td>
                    </tr>
                </tbody>
            </table>
            
            <div id="actions">
                <button type="button" class="btn" 
                        data-ng-class="{'btn-primary' : searchResults.length > 0,
                                        'btn-default' : searchResults.length < 1}"
                        data-ng-click="downloadFiles()">Télécharger</button>
                        
                <div class="windows8" data-ng-show="actionsLoading">
                    <div class="wBall" id="wBall_1"><div class="wInnerBall"></div></div>
                    <div class="wBall" id="wBall_2"><div class="wInnerBall"></div></div>
                    <div class="wBall" id="wBall_3"><div class="wInnerBall"></div></div>
                    <div class="wBall" id="wBall_4"><div class="wInnerBall"></div></div>
                    <div class="wBall" id="wBall_5"><div class="wInnerBall"></div></div>
                </div>
                <br /><br />
                <p data-ng-if="actionsValidationMessage != ''" class="text-warning">{{actionsValidationMessage}}</p>
            </div>
        </div>
    </div>
}