@(title: String, hostName: String)

@scripts = {
}

@main(title, hostName, scripts) {
    <div data-ng-controller="LoginController" class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span>Sign in to continue...</span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" data-ng-submit="login(credentials)" novalidate>
                            <fieldset>
                                <div class="form-group input-group">
                                    <input 
                                        data-ng-model="credentials.username" 
                                        data-ng-required="true" class="form-control" 
                                        placeholder="Your login" name="id" type="text" autofocus>
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                                <div class="form-group input-group">
                                    <input 
                                        data-ng-model="credentials.password" 
                                        data-ng-required="true" class="form-control" 
                                        placeholder="Your password" name="password" type="password" value="">
                                    <span class="input-group-addon">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                </div>
                                <button type="submit" class="btn btn-lg btn-primary">
                                    <i class="fa fa-key"></i>
                                    <span>Sign in</span>
                                </button>
                                <div data-ng-if="errorMessage" class="alert alert-danger">
                                    <span>{{errorMessage}}</span>
                                </div>
                            </fieldset>
                        </form>
                        
                        
                    </div>
                </div>
                
                <div class="text-center">
                    <a class="btn btn-social-icon btn-linkedin" 
                          href="https://fr.linkedin.com/in/joakimribier" 
                          target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a class="btn btn-social-icon btn-github" 
                          href="https://github.com/joakim-ribier/reactive-elasticsearch-play" 
                          target="_blank">
                        <i class="fa fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
}