@(title: String, hostName: String)

@scripts = {
	<script src="@routes.Assets.at("javascripts/loginController.js")"></script>
}

@main(title, hostName, scripts) {
	<div data-ng-controller="LoginController" id="login-page">
		<div class="nav-top-bar">
			<span>@title</span>
			<div class="nav-top-bar-menu"></div>
		</div>
		
		<form role="form" data-ng-submit="login(credentials)" novalidate>
			<div class="form-group">
				<input type="text" class="form-control input-lg" data-ng-model="credentials.username" placeholder="Enter identifiant">
			</div>
			<div class="form-group">
				<input type="password" class="form-control input-lg" data-ng-model="credentials.password" placeholder="Password">
			</div>
			
			<p data-ng-show="validationMessage" class="text-danger">{{validationMessage}}</p>
			
			<button type="submit" class="btn btn-default btn-lg">Bonsai cool</button>
			<div class="spinner" data-ng-show="loading"></div>
		</form>
	</div>
}