@(title: String, hostName: String, dropdownMenu: Html = Html(""))(content: Html)
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content=""/>
        <meta name="author" content="">
        <title>@title</title>
        
        <!-- vendor.css -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bower_components/bootstrap/dist/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bower_components/metisMenu/dist/metisMenu.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bower_components/font-awesome/css/font-awesome.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bower_components/bootstrap-social/bootstrap-social.css")">
        
        <!-- app.css -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css")">
        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
        <script type="text/javascript">
            window.hostName = '@hostName';
        </script>
    </head>
    <body cz-shortcut-listen="true" data-ng-app="App" ng-controller="RootController">
        <div id="wrapper">
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@hostName">
                        <i class="fa fa-file-o"></i>
                        @title
                    </a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown" data-ng-if="loading" >
                        <i class="fa fa-spinner"></i>
                    </li>
                    @dropdownMenu
                </ul>
            </nav>
            @content
		</div>
        
        <!-- vendor.js -->
        <script src="@routes.Assets.at("bower_components/angular/angular.min.js")"></script>
        <script src="@routes.Assets.at("bower_components/angular-translate/angular-translate.min.js")"></script>
        <script src="@routes.Assets.at("bower_components/angular-translate-loader-url/angular-translate-loader-url.min.js")"></script>
        
        <script src="@routes.Assets.at("bower_components/jquery/dist/jquery.min.js")"></script>
        <script src="@routes.Assets.at("bower_components/bootstrap/dist/js/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("bower_components/metisMenu/dist/metisMenu.min.js")"></script>
        
         <!-- build:js({.tmp,app}) scripts/scripts.js -->        
        <script src="@routes.Assets.at("javascripts/app.js")"></script>
        <script src="@routes.Assets.at("javascripts/provider.js")"></script>
        
        <script src="@routes.Assets.at("javascripts/rootController.js")"></script>
        
        <script src="@routes.Assets.at("javascripts/module/login/loginController.js")"></script>
        <script src="@routes.Assets.at("javascripts/module/login/loginService.js")"></script>
        <script src="@routes.Assets.at("javascripts/indexController.js")"></script>
    </body>
</html>