<div class="modal-header">
    <h3 class="modal-title" data-translate="module.send.new.message.title"></h3>
</div>
<form name="form" novalidate>
    <div class="modal-body">
        <fieldset>
            <div class="form-group input-group">
                <span class="input-group-addon">To</span>
                <input data-ng-model="data.mail.to" 
                       data-ng-required="true"
                       type="text" class="form-control" 
                       placeholder="{{ 'module.send.new.message.to' | translate }}" autofocus>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="input"
                                    data-ng-click="data.mail.bccEnable = !data.mail.bccEnable ">
                                <span>Bcc</span>
                            </button>
                        </span>
            </div>
        </fieldset>
        <fieldset data-ng-if="data.mail.bccEnable">
            <div class="form-group input-group">
                <span class="input-group-addon">Bcc</span>
                <input data-ng-model="data.mail.bcc" 
                       data-ng-required="false"
                       type="text" class="form-control" 
                       placeholder="Bcc">
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group input-group">
                <input data-ng-model="data.mail.subject" 
                       data-ng-required="false" class="form-control"
                       placeholder="{{ 'module.send.new.message.subject' | translate }}" 
                       name="subject" type="text">
                <span class="input-group-addon">
                    <i class="fa fa-pencil"></i>
                </span>
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group input-group">
                <textarea data-ng-model="data.mail.body" 
                          data-ng-required="false" class="form-control" 
                          placeholder="{{ 'module.send.new.message.body' | translate }}" 
                          name="body" rows="5"></textarea>
                <span class="input-group-addon">
                    <i class="fa fa-pencil"></i>
                </span>
            </div>
        </fieldset>
        <fieldset>
            <span>
                <i class="fa fa-file-o fa-fw"></i>
                <span>{{ data.result.fileName }}</span>
            </span>
        </fieldset>
    </div>
    <div data-ng-if="data.error" class="alert alert-danger">
        <span data-translate="{{data.error}}"></span>
    </div>
    <div class="modal-footer">
        <i data-ng-if="loading" class="fa fa-spinner"></i>
        <button class="btn" type="submit" 
                data-ng-if="!loading" 
                ng-class="{'btn-primary' : !loading, 'btn-primary disabled' : loading}"
                data-ng-click="send(data.mail)">
            <span data-translate="module.send.new.message.send"></span>
        </button>
        <button class="btn btn-warning" data-ng-click="cancel()">
            <span data-translate="module.send.new.message.cancel"></span>
        </button>
    </div>
</form>